.feature{
	display: flex;
	justify-content:space-between;
	background:url("/assets/images/bg-pattern.jpg");


	&-heading{
	width: 650px;
	color: $heading;
	font-size: 35px;
	text-align: left;
	margin-left: 0;
	}

	&__subheading{
		
		font-weight: 400;
		margin-bottom: 0;
	}

	& p{
	
		line-height: 25px;
		letter-spacing: .6px;
		font-size: 15px;
		padding-right: 17px;
	}

	&__img{
		margin-right: -40px;
		border-right: 1px solid #282725;

	
			
	}
	&__leftSide{
	margin-left: 200px;
	margin-right: 0;
	
	}
	&__leftSide ul{
		display: flex;
		justify-content:space-between;



	}
	&__rightSide{
	margin-right: 100px;
	
	}
	&__rightSide ul{
		display: flex;
		flex-direction:column;
		justify-content:space-around;

		& li{
			line-height: 0px;
			width: 300px;
			height: 150px;
			background-color: $sidebarBack;
			margin-top: 20px;
			padding: 10px;
		}


	}
	&-blog__heading{
		font-size: 14px;
	}
	&-blog__text{
		font-size: 15px;
	}

	&__date{
		color:grey;
		font-size: 11px;
		padding-bottom: 0;
	}


	/*

	&__wrapper-col-8{
		float: left;
	}
	&__wrapper-col-3{
		float: left;
	

	}
	&-left {
			
			& ul{

				
			

			}

			& ul li{
				margin-left: -30px;

				width:190px;
				float: left;
				

				background: url("/assets/images/border.jpg") repeat-y 40px top;
			
			}

	}

	*/
}

