.large-hero{
	margin: 0 auto;
	overflow: -y ;
	display: block;

			@mixin atMedium{
			display: flex;
			justify-content:space-around;
			}

	&__flex{
		

	}
	&__sub-flex{

	}

	@mixin atMedium{
		overflow: hidden;
	}
	


	& p {
		line-height: 25px;
		letter-spacing: .7px;
		font-size: 17px;
	}
	


	&__heading{
	color: $heading;
	font-size: 35px;
	width: 30%;
	text-align: center;

	@mixin atMedium{
		width: 220px;
	}
	}

	&__text{
		width: 300px;
		text-align: center;
		margin-left: 0px;

		

			@mixin atSmall{
			width: 200px;
			text-align: center;
			margin-top: 20px;

	}
	}
	&__btn{
		background-color: $icon;
		color: #fff;
		padding: 7px 12px;
		border-radius: 3px;
		text-align: center;
		border: none;
		margin-left: 60px;
		margin-top: 20px;
		

	}

	&__tux-img{
		overflow: hidden;
		margin-top: 0;
		
	}
		@mixin atSmall{
		

		}

	&__sub-heading{
		width: 250px;
		text-align: center;
	}

	&__side-img{
		margin-bottom: 10px;
	}






}